.login{
    width: 400px;
    height: 200px;
    margin: 200px auto;
    text-align: center;
border: 1px solid rgb(178, 172, 172);
border-radius:10px;
}   
.login-input{
    width: 300px;
    display: inline-block;
    padding: 10px;
border-radius:5px;
margin-bottom: 10px;
}
.login-btn{
    width: 320px;
    display: inline-block;
    padding: 10px;
}